<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nks.imgd.mapper.file.FileTableMapper">

    <select id="findFileAndDirectory" resultType="com.nks.imgd.dto.schema.FileTable">
        SELECT FILE_ID
             , FILE_NM
             , FILE_ORG_NM
             , FILE_PATH
             , TYPE
             , PARENT_ID
             , GROUP_ID
             , REG_DTM
             , REG_ID
             , MOD_DTM
             , MOD_ID
          FROM FILE_TABLE
         WHERE PARENT_ID = #{parentId}
           AND GROUP_ID = #{groupId}
         ORDER BY TYPE, REG_DTM DESC, FILE_ORG_NM
    </select>

    <select id="findRootPath" resultType="com.nks.imgd.dto.schema.FileTable">
        SELECT FILE_PATH
             , PARENT_ID
          FROM FILE_TABLE
         WHERE FILE_ID = #{fileId}
    </select>

    <select id="findFileIdByFileOrgNmInDirCase" resultType="com.nks.imgd.dto.schema.FileTable">
        SELECT FILE_ID
          FROM FILE_TABLE
         WHERE FILE_ORG_NM = CONCAT(#{group.groupId}, '_', #{group.groupNm})
           AND TYPE = 'DIR'
    </select>

    <select id="findFileNmByDirId" resultType="com.nks.imgd.dto.schema.FileTable">
        SELECT FILE_NM
             , FILE_NM
             , FILE_ORG_NM
             , FILE_PATH
             , TYPE
             , PARENT_ID
             , GROUP_ID
          FROM FILE_TABLE
         WHERE FILE_ID = #{dirId}
    </select>
    
    <select id="findFileById" resultType="com.nks.imgd.dto.schema.FileTable">
        SELECT FILE_ID
             , FILE_NM
             , FILE_ORG_NM
             , FILE_PATH
             , TYPE
             , PARENT_ID
             , GROUP_ID
             , REG_DTM
             , REG_ID
             , MOD_DTM
             , MOD_ID
          FROM FILE_TABLE
         WHERE FILE_ID = #{fileId}
    </select>

    <select id="findFileByGroupId" resultType="com.nks.imgd.dto.schema.FileTable">
        SELECT FILE_ID
             , FILE_NM
             , FILE_ORG_NM
             , FILE_PATH
             , TYPE
             , PARENT_ID
             , GROUP_ID
             , REG_DTM
             , REG_ID
             , MOD_DTM
             , MOD_ID
          FROM FILE_TABLE
         WHERE GROUP_ID = #{groupId}
         ORDER BY TYPE DESC, FILE_ID DESC
    </select>
    
    <select id="findFileByParentId" resultType="com.nks.imgd.dto.schema.FileTable">
        SELECT FILE_ID
             , FILE_NM
             , FILE_ORG_NM
             , FILE_PATH
             , TYPE
             , PARENT_ID
             , GROUP_ID
             , REG_DTM
             , REG_ID
             , MOD_DTM
             , MOD_ID
          FROM FILE_TABLE
         WHERE PARENT_ID = #{fileId}
         ORDER BY TYPE DESC, FILE_ID
    </select>

    <select id="findUserProfileFileId" resultType="com.nks.imgd.dto.schema.FileTable">
        SELECT FILE_ID
             , FILE_NM
             , FILE_ORG_NM
             , FILE_PATH
             , TYPE
             , PARENT_ID
             , GROUP_ID
             , REG_DTM
             , REG_ID
             , MOD_DTM
             , MOD_ID
        FROM FILE_TABLE
       WHERE FILE_PATH = '/PROFILE_IMG'
         AND TYPE = 'PROFILE'
         AND REG_ID = #{userId}
    </select>
    
    <insert id="makeGroupDir" >
        INSERT
          INTO FILE_TABLE
          ( FILE_NM
          , FILE_ORG_NM
          , FILE_PATH
          , TYPE
          , PARENT_ID
          , GROUP_ID
          , REG_DTM
          , REG_ID
          , MOD_DTM
          , MOD_ID
          )
          VALUES
          (
            CONCAT(#{group.groupId}, '_', #{group.groupNm})
          , CONCAT(#{group.groupId}, '_', #{group.groupNm})
          , '/GROUP_IMG'
          , 'DIR'
          , 2
          , #{group.groupId}
          , DATE_FORMAT(NOW(), '%Y%m%d')
          , #{group.groupMstUserId}
          , DATE_FORMAT(NOW(), '%Y%m%d')
          , #{group.groupMstUserId}
          )
    </insert>

    <insert id="makeDir"
            useGeneratedKeys="true"
            keyProperty="dto.fileId"
            keyColumn="FILE_ID">
      INSERT
        INTO FILE_TABLE
        ( FILE_NM
        , FILE_ORG_NM
        , FILE_PATH
        , TYPE
        , PARENT_ID
        , GROUP_ID
        , REG_DTM
        , REG_ID
        , MOD_DTM
        , MOD_ID
        )
        VALUES
        (
          #{dto.dirNm}
        , #{dto.dirNm}
        , #{dto.path}
        , 'DIR'
        , #{dto.parentId}
        , #{dto.groupId}
        , DATE_FORMAT(NOW(), '%Y%m%d')
        , #{dto.userId}
        , DATE_FORMAT(NOW(), '%Y%m%d')
        , #{dto.userId}
        )
    </insert>

    <insert id="makeFile"
            useGeneratedKeys="true"
            keyProperty="dto.fileId"
            keyColumn="FILE_ID">
      INSERT
        INTO FILE_TABLE
        ( FILE_NM
        , FILE_ORG_NM
        , FILE_PATH
        , TYPE
        , PARENT_ID
        , GROUP_ID
        , REG_DTM
        , REG_ID
        , MOD_DTM
        , MOD_ID
        )
        VALUES
        (
          #{dto.fileNm}
        , #{dto.fileOrgNm}
        , #{dto.path}
        , 'FILE'
        , #{dto.folderId}
        , #{dto.groupId}
        , DATE_FORMAT(NOW(), '%Y%m%d')
        , #{dto.userId}
        , DATE_FORMAT(NOW(), '%Y%m%d')
        , #{dto.userId}
        )
    </insert>

    <insert id="makeUserProfileImg"
            useGeneratedKeys="true"
            keyProperty="file.fileId"
            keyColumn="FILE_ID">
        INSERT
          INTO FILE_TABLE
          ( FILE_NM
          , FILE_ORG_NM
          , FILE_PATH
          , TYPE
          , PARENT_ID
          , GROUP_ID
          , REG_DTM
          , REG_ID
          , MOD_DTM
          , MOD_ID
          )
          VALUES
          ( #{file.fileNm}
          , #{file.fileOrgNm}
          , '/PROFILE_IMG'
          , 'PROFILE'
          , 3
          , NULL
          , DATE_FORMAT(NOW(), '%Y%m%d')
          , #{userId}
          , DATE_FORMAT(NOW(), '%Y%m%d')
          , #{userId}
          )
    </insert>

    <delete id="deleteById">
        DELETE
          FROM FILE_TABLE
         WHERE FILE_ID = #{fileId}
    </delete>

    <delete id="deleteFilesByGroupId">
        DELETE
          FROM FILE_TABLE
         WHERE GROUP_ID = #{groupId}
    </delete>


</mapper>
