<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nks.imgd.mapper.file.FileTableMapper">

    <select id="selectRootPath" resultType="com.nks.imgd.dto.file.FileTableDTO">
        SELECT FILE_PATH
             , PARENT_ID
          FROM FILE_TABLE
         WHERE FILE_ID = #{fileId}
    </select>

    <select id="selectFileIdByFileOrgNmInDirCase" resultType="com.nks.imgd.dto.file.FileTableDTO">
        SELECT FILE_ID
          FROM FILE_TABLE
         WHERE FILE_ORG_NM = CONCAT(#{group.groupId}, '_', #{group.groupNm})
           AND TYPE = 'DIR'
    </select>

    <select id="selectFileNmByDirId" resultType="com.nks.imgd.dto.file.FileTableDTO">
        SELECT FILE_NM
          FROM FILE_TABLE
         WHERE FILE_ID = #{dirId}
    </select>
    
    <select id="selectFileById" resultType="com.nks.imgd.dto.file.FileTableDTO">
        SELECT FILE_ID
             , FILE_NM
             , FILE_ORG_NM
             , FILE_PATH
             , TYPE
             , PARENT_ID
             , GROUP_ID
          FROM FILE_TABLE
         WHERE FILE_ID = #{fileId}
    </select>

    <insert id="makeGroupDir" >
        INSERT
          INTO FILE_TABLE
          ( FILE_NM
          , FILE_ORG_NM
          , FILE_PATH
          , TYPE
          , PARENT_ID
          , GROUP_ID
          , REG_DTM
          , REG_ID
          , MOD_DTM
          , MOD_ID
          )
          VALUES
          (
            CONCAT(#{group.groupId}, '_', #{group.groupNm})
          , CONCAT(#{group.groupId}, '_', #{group.groupNm})
          , '/GROUP_IMG'
          , 'DIR'
          , 2
          , #{group.groupId}
          , DATE_FORMAT(NOW(), '%Y%m%d')
          , #{group.groupMstUserId}
          , DATE_FORMAT(NOW(), '%Y%m%d')
          , #{group.groupMstUserId}
          )
    </insert>

    <insert id="makeDir">
      INSERT
        INTO FILE_TABLE
        ( FILE_NM
        , FILE_ORG_NM
        , FILE_PATH
        , TYPE
        , PARENT_ID
        , GROUP_ID
        , REG_DTM
        , REG_ID
        , MOD_DTM
        , MOD_ID
        )
        VALUES
        (
          #{dto.dirNm}
        , #{dto.dirNm}
        , #{dto.path}
        , 'DIR'
        , #{dto.parentId}
        , #{dto.groupId}
        , DATE_FORMAT(NOW(), '%Y%m%d')
        , #{dto.userId}
        , DATE_FORMAT(NOW(), '%Y%m%d')
        , #{dto.userId}
        )
    </insert>

    <insert id="makeFile">
      INSERT
        INTO FILE_TABLE
        ( FILE_NM
        , FILE_ORG_NM
        , FILE_PATH
        , TYPE
        , PARENT_ID
        , GROUP_ID
        , REG_DTM
        , REG_ID
        , MOD_DTM
        , MOD_ID
        )
        VALUES
        (
          #{fileNm}
        , #{fileOrgNm}
        , #{path}
        , 'FILE'
        , #{parentId}
        , #{groupId}
        , DATE_FORMAT(NOW(), '%Y%m%d')
        , #{userId}
        , DATE_FORMAT(NOW(), '%Y%m%d')
        , #{userId}
        )
    </insert>

    <insert id="makeUserProfileImg"
            useGeneratedKeys="true"
            keyProperty="file.fileId"
            keyColumn="FILE_ID">
        INSERT
          INTO FILE_TABLE
          ( FILE_NM
          , FILE_ORG_NM
          , FILE_PATH
          , TYPE
          , PARENT_ID
          , GROUP_ID
          , REG_DTM
          , REG_ID
          , MOD_DTM
          , MOD_ID
          )
          VALUES
          ( #{file.fileNm}
          , #{file.fileOrgNm}
          , '/PROFILE_IMG'
          , 'PROFILE'
          , 3
          , NULL
          , DATE_FORMAT(NOW(), '%Y%m%d')
          , #{userId}
          , DATE_FORMAT(NOW(), '%Y%m%d')
          , #{userId}
          )
    </insert>


</mapper>
