<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nks.imgd.mapper.article.ArticleMapper">
    
    <select id="findAllArticle"
            parameterType="com.nks.imgd.dto.searchDTO.ArticleSearch"
            resultType="com.nks.imgd.dto.dataDTO.ArticleWithTagsAndFiles">
        SELECT ARTICLE_ID
             , TYPE
             , F_GET_TAG_NM(ARTICLE_ID) TAG_IDS
             , USER_ID
             , F_GET_USER_NM(USER_ID) USER_NM
             , TITLE
             , ARTICLE
             , F_GET_LIKE_CNT(ARTICLE_ID) LIKE_CNT
             , F_GET_COMMENT_CNT(ARTICLE_ID) COMMENT_CNT
             , WATCH_CNT
             , REG_DTM
             , REG_ID
             , MOD_DTM
             , MOD_ID
          FROM ARTICLE
         <where>
             TYPE = 'POST'
             <if test="userNm != null and userNm != ''">
                 AND F_GET_USER_NM(USER_ID) = #{userNm}
             </if>
             <if test="title != null and title != ''">
                 AND TITLE LIKE CONCAT('%', #{title}, '%')
             </if>
             <if test="article != null and article != ''">
                 AND ARTICLE LIKE CONCAT('%', #{article}, '%')
             </if>
         </where>
         ORDER BY LIKE_CNT DESC, WATCH_CNT DESC, REG_DTM DESC
    </select>

    <select id="findArticleById" resultType="com.nks.imgd.dto.dataDTO.ArticleWithTagsAndFiles">
        SELECT ARTICLE_ID
             , TYPE
             , F_GET_TAG_NM(ARTICLE_ID) TAG_IDS
             , USER_ID
             , F_GET_PICTURE_NM(USER_ID) AS PICTURE_NM
             , F_GET_USER_NM(USER_ID) USER_NM
             , TITLE
             , ARTICLE
             , F_GET_LIKE_CNT(ARTICLE_ID) LIKE_CNT
             , F_GET_COMMENT_CNT(ARTICLE_ID) COMMENT_CNT
             , WATCH_CNT
             , REG_DTM
             , REG_ID
             , MOD_DTM
             , MOD_ID
        FROM ARTICLE
       WHERE ARTICLE_ID = #{articleId}
    </select>

    <insert id="makeNewArticle"
            useGeneratedKeys="true"
            keyProperty="article.articleId"
            keyColumn="ARTICLE_ID">
        INSERT
          INTO ARTICLE
          (
            TYPE
          , USER_ID
          , TITLE
          , ARTICLE
          , WATCH_CNT
          , REG_DTM
          , REG_ID
          , MOD_DTM
          , MOD_ID
          )
        VALUES
          (
            #{article.type}
          , #{article.userId}
          , #{article.title}
          , #{article.article}
          ,0
          , DATE_FORMAT(NOW(), '%Y%m%d')
          , #{article.userId}
          , DATE_FORMAT(NOW(), '%Y%m%d')
          , #{article.userId}
          )
    </insert>

    <update id="increaseArticleWatchCnt">
        UPDATE ARTICLE
           SET WATCH_CNT = WATCH_CNT + 1
         WHERE ARTICLE_ID = #{articleId}
    </update>

    <delete id="deleteArticle">
        DELETE
          FROM ARTICLE
         WHERE ARTICLE_ID = #{articleId}
    </delete>

</mapper>
